.clickable {
    cursor: pointer;
}
.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.entity-spacing {
    margin: 8px 0;
}
.entity-spacing:first-child {
    margin-top: 0;
}
.entity-spacing:last-child {
    margin-bottom: 0;
}

.entity-row {
    display: flex;
    align-items: center;
}
.entity-row .name {
    flex: 1;
    margin: 0 6px;
}
.entity-row .secondary {
    color: var(--primary-color);
}
.entity-row .icon {
    flex: 0 0 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}


.expandWrapper > .toggler {
    cursor: pointer;
}
.expandWrapper > .toggler > .name {
    flex: 1;
}
.expandWrapper > .toggler div.chevron {
    transform: rotate(-90deg);
    font-size: 26px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expandWrapper > .toggler .chevron,
.expandWrapper > .toggler + div {
    transition: all 0.5s ease;
}
.expandWrapper > .toggler.expanded .chevron {
    transform: rotate(-90deg) scaleX(-1);
}
.expandWrapper > .toggler + div {
    overflow: hidden;
}
.expandWrapper > .toggler:not(.expanded) + div {
    max-height: 0 !important;
}